<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>분양 단지 조회 페이지입니다.</title>
    <style>
      #type1{
        font-size:5rem;
        font-family: serif;
        font-weight: bold;
        line-height: 2;
      }
      #type2{
        font:bold 5rem/2 arial, verdana, "Helvetica Neue", serif;
      }
    </style>
</head>
<body>
    <center>
        <p id="type1">- 건설사별 분양 정보 -</p>

    <h3>삼성건설 래미안</h3>
    <a href="https://raemian.co.kr/sale/house/list.do">래미안 분양 정보</a>
    <h3>GS건설 자이</h3>
    <a href="https://www.xi.co.kr/apt_info/apt/list?pageIndex=1&pageCount=0&searchType=2&searchType1=0&searchType2=0&currentIndex=0&searchType3=0&searchMoreSeq=0&searchText=">자이 분양 정보</a>
    <h3>HDC현대산업개발 아이파크</h3>
    <a href="https://www.i-park.com/building/list">아이파크 분양 정보</a>
    <h3>현대건설 힐스테이트</h3>
    <a href="http://www.hillstate.co.kr/salesinfo/s_place.aspx">힐스테이트 분양 정보</a>
    <h3>대림산업 e편한세상</h3>
    <a href="http://www.daelim-apt.co.kr/Apci_list01.action">e편한세상 분양 정보</a>
    <h3>코오롱글로벌 하늘채</h3>
    <a href="https://www.ihanulche.co.kr/sale/list">하늘채 분양 정보</a>
    <h3>한화건설 포레나</h3>
    <a href="https://www.forena.co.kr/apt/sales/list">포레나 분양 정보</a>
    <h3>호반건설 호반써밋 & 베르디움</h3>
    <a href="https://www.hobanapt.co.kr/sell/ing/web">호반써밋 & 베르디움 분양 정보 </a>
    <br></br>
    <br><input type="button" style="width:150pt;height:30pt;" value="신규 분양 아파트 목록" onClick="location.href='http://127.0.0.1:8000/apt/new_apt_list'"></br>
    </center>

</body>
</html>